@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

  body{
      font-family: "JetBrains Mono", monospace;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .card{
      width: 300px;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      background-color: white;
  }

  .cardimg{
    background-color: #ddd;
    height: 200px;
    position: relative;
  }

  .label{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    font-size: 0.75rem;
    padding: 4px 10px;
    border-radius: 12px;
  }

  .conteudo{
    padding: 20px;
  }

  .conteudo h3{
    margin: 0 0 8px;
    font-size: 1.25rem;
  }

  .conteudo p{
    margin: 0;
    color: #555;
    font-size: 0.9rem;
    line-height: 1.4;
    opacity: 0.70;
  }